@charset "utf-8";

body { font-family: 'Ubuntu', sans-serif; }
.row { max-width: 1200px; margin: 0 auto; }
legend { display: none; }



#header { position: relative; top: 0%; left: 0; width: 100%; height: 80px; background: #363636;}
#header .logo { top: 0px; }
#header .logo span { display: none; }
#header .open, #header .close { display: none; }
.logo { position: absolute; top: 50px; left: 50%; transform: translate(-50%); z-index: 9999; }
.logo h1 { width: 320px; }
.logo span { position: absolute; top: -10px; left: 50%; transform: translate(-70%); font-weight: bold; color: #fff; animation: flash  3s both alternate infinite;  }
.logo span.on { display: none; }
#nav {  color: #fff;  }
#nav .nav1 { float: left; width: 50%; opacity: 1; transition: all 1s; padding-right: 50px; margin-top: 15px; }
#nav .nav2 { float: right; width: 50%; opacity: 1; transition: all 1s; padding-left: 50px; margin-top: 15px; }
#nav .nav1 .depth1 { float: right; margin-right: 100px; }
#nav .nav2 .depth1 { float: left; margin-left: 100px; }
#nav .depth1 > li {  float: left; font-size: 20px; padding: 15px 40px 20px; position: relative; }
#nav .depth1 > li.on .depth2 { height: 180px; }
#nav .depth2 {  transition: all 0.6s; height: 0px; overflow: hidden; position: absolute; top: 117%; left: 50%; transform: translate(-50%); width: 100%; text-align: center;}
#nav .depth2 > li { padding: 15px 0; transition: all 0.5s; background: rgba(0, 0, 0, 0.6); font-size: 15px; }
#nav .depth2 > li.on { background: rgba(0, 0, 0, 0.8); font-weight: bold; }
#nav .depth2 > li > a { display: inline-block; width: 100%; }

.noticebox h2 { font-size: 40px; text-align: center; margin-top: 100px; margin-bottom: 50px; padding-bottom: 20px; position: relative; }
.noticebox h2::after { content: ''; position: absolute; top: 100%; left: 50%; transform: translate(-50%); width: 400px; height: 5px; background: orange; }
.noticebox thead tr:nth-child(1) { border-bottom: 2px solid #ddd; }
.noticebox thead th { font-weight: bold; padding-bottom: 10px; }
.noticebox td { padding: 15px; text-align: center; }
.noticebox td:nth-child(2) { text-align: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.noticebox td:nth-child(3) { color: #999; }
.noticebox col:nth-child(1) { width: 20%; }
.noticebox col:nth-child(2) { width: auto;  }
.noticebox col:nth-child(3) { width: 20%; }
.numbox { text-align: center; margin-top: 50px; margin-bottom: 30px; }
.numbox a {  display: inline-block; padding: 5px 10px; }
.numbox span {  background: orange; color: #fff; }
.noticebox { padding-top: 80px; padding-bottom: 80px; margin-bottom: 100px; }
.noticebox .search { text-align: center; }
.noticebox .search select, .noticebox .search input, .noticebox .search button { height: 25px; vertical-align: middle; }
.noticebox .search input { width: 30%; padding: 5px; }
.noticebox .search button { padding: 0px 10px 5px; vertical-align: text-top; cursor: pointer; background: orange; color: #fff; border: none; }


#footer { background: #363636; color: #fff; padding-bottom: 50px; }
#footer ul { text-align: center; }
#footer li { display: inline-block; margin: 40px 10px 0; font-size: 13px; position: relative; }
#footer li::after { content: ''; position: absolute; top: 10%; right: -12px;  width: 1px; height: 10px; background: #fff; }
#footer li:nth-child(6)::after { display: none; }
#footer li:nth-child(8)::after { display: none; }
#footer li a { display: inline-block; text-align: center; }


.sns { position: fixed; bottom: 50px; right: 50px; text-align: center; color: #fff; }
.sns a {  display: block; width: 30px; height: 30px; background: rgba(0, 0, 0, 0.6); border-radius: 50%; margin: 10px 0; line-height: 30px; transition: all 0.3s; box-shadow: 3px 3px 2px #333; }
.sns a:nth-child(5) { font-size: 10px; }
.sns a.on { transform: scale(1.1); color: yellow; }