@media screen and (max-width: 1500px) { 
    #nav .depth1 > li {  float: left; font-size: 20px; padding: 10px 25px 25px; position: relative; }

}

@media screen and (max-width: 1300px) {
    .logo h1 { width: 250px; padding-top: 10px; }
    #nav .depth1 > li {  float: left; font-size: 18px; padding: 12px 15px 25px; position: relative; }

    .traveltipbox .article3 .htbox img { border-radius: 20px; width: 40%; }
    
    .traveltipbox .article3 .htbox1 img, .traveltipbox .article3 .htbox3 img { margin-left: 50px;  }
    .traveltipbox .article3 .htbox2 img, .traveltipbox .article3 .htbox4 img { margin-right: 50px;  }
    .traveltipbox .article3 .htbox1 h3, .traveltipbox .article3 .htbox3 h3 { margin-left: 50px;  }
    .traveltipbox .article3 .htbox1 p, .traveltipbox .article3 .htbox3 p { margin-left: 50px; font-size: 16px; margin-top: 20px; line-height: 2; }
    .traveltipbox .article3 .htbox2 h3, .traveltipbox .article3 .htbox4 h3 { margin-right: 50px;  }
    .traveltipbox .article3 .htbox2 p, .traveltipbox .article3 .htbox4 p { margin-right: 50px; font-size: 16px; margin-top: 20px; line-height: 2; }

    #footer li::after { content: ''; display: none; position: absolute; top: 10%; right: -12px;  width: 1px; height: 10px; background: #fff; }

}

@media screen and (max-width: 1024px) {
    #header .open, #header .close { position: absolute; top: 20px; right: 30px; }
    #header .open, #header .close { display: none; }
    #header .open.on, #header .close.on { display: block; }
    #header button { border: none; background: transparent; }
    #header .open i, #header .close i { font-size: 35px; color: #fff; }
    #nav {  color: #fff; color: #363636; position: absolute; top: 100%; right: -190px; z-index: 9999; height: 0; overflow: hidden; font-weight: bold; box-shadow: -1px 1px 5px #999;
            background: #fff; transition: right 0.6s; }
    #nav.on { height: auto; right: 0;  }
    #nav .nav1 { float: none; width: 100%; opacity: 1; transition: all 1s; padding-right: 0px; margin-top: 0px; text-align: center; }
    #nav .nav2 { float: none; width: 100%; opacity: 1; transition: all 1s; padding-left: 0px; margin-top: 0px; text-align: center; }
    #nav .nav1 .depth1 { float: none; margin-right: 0px; }
    #nav .nav2 .depth1 { float: none; margin-left: 0px; }
    #nav .depth1 > li {  float: none; font-size: 20px; padding: 15px 20px 15px; position: relative; }
    #nav .depth1 > li.on { color: blue; padding: 15px 20px 0; }
    #nav .depth1 > li.on .depth2 { height: 100%; }
    #nav .depth2 {  transition: 0s; height: 0; overflow: hidden; position: static; top: 117%; left: 50%;  transform: translate(0%); width: 100%; text-align: center; color: #363636; }
    #nav .depth2 > li { padding: 15px 0; transition: all 0.5s; background: #fff; font-size: 15px;  }
    #nav .depth2 > li.on { background: #fff; font-weight: bold; }
    #nav .depth2 > li > a { display: inline-block; width: 100%; }

    .traveltipbox .article3 .htbox h3 { font-size: 20px; font-weight: bold; }
    .traveltipbox .article3 .htbox > div { display: inline-block; transform: translateY(50px); }
    .traveltipbox .article3 .htbox p span { display: block; }

    .traveltipbox .article4 li i { font-size: 50px; width: 150px; height: 150px; border: 3px solid; border-radius: 50%; line-height: 150px; }
    .traveltipbox .article4 li h4 { font-size: 20px; font-weight: bold; margin-top: 30px; margin-bottom: 30px; }
    .traveltipbox .article4 li p { font-size: 14px; line-height: 1.5; }



    .sns { position: fixed; bottom: 50px; right: 50px; text-align: center; color: #fff; display: none; }
}

@media screen and (max-width: 768px) {
    .logo { position: absolute; top: 50px; left: 5%; transform: translate(0%); z-index: 9999; }

    .traveltipbox .article2 p { font-weight: 500; font-size: 16px; line-height: 1.5; }

    .traveltipbox .article3 .htbox2, .traveltipbox .article3 .htbox4, .traveltipbox .article3 .htbox1, .traveltipbox .article3 .htbox3 { text-align: center; }
    .traveltipbox .article3 .htbox1 img, .traveltipbox .article3 .htbox3 img { margin-left: 0px;  }
    .traveltipbox .article3 .htbox2 img, .traveltipbox .article3 .htbox4 img { margin-right: 0px;  }
    .traveltipbox .article3 .htbox img { border-radius: 20px; width: 80%; }
    .traveltipbox .article3 .htbox > div { display: block; transform: translateY(0px); }
    .traveltipbox .article3 .htbox p span { display: inline-block; }
    .traveltipbox .article3 .htbox1 h3, .traveltipbox .article3 .htbox3 h3 { margin-left: 0px; margin-top: 20px; }
    .traveltipbox .article3 .htbox2 h3, .traveltipbox .article3 .htbox4 h3 { margin-right: 0px;  }
    .traveltipbox .article3 .htbox1 p, .traveltipbox .article3 .htbox3 p { margin-left: 0px; font-size: 16px; margin-top: 20px; line-height: 2; }
    .traveltipbox .article3 .htbox2 p, .traveltipbox .article3 .htbox4 p { margin-right: 0px; font-size: 16px; margin-top: 20px; line-height: 2; margin-bottom: 20px; }
    
    .traveltipbox .article4 ul { display: flex; flex-wrap: wrap; }
    .traveltipbox .article4 li { flex-grow: 1; text-align: center; width: 46%; }
    .traveltipbox .article4 li:nth-child(3), .traveltipbox .article4 li:nth-child(4) { margin-top: 30px; }
    .traveltipbox .article4 li i { font-size: 40px; width: 100px; height: 100px; border: 3px solid; border-radius: 50%; line-height: 100px; }
    .traveltipbox .article4 li h4 { font-size: 18px; font-weight: bold; margin-top: 30px; margin-bottom: 30px; }
    .traveltipbox .article4 li p { font-size: 14px; line-height: 1.5; }
}

@media screen and (max-width: 600px) {
    .logo h1 { width: 200px; padding-top: 15px; }

    .traveltipbox .article2 p:nth-of-type(2),.traveltipbox .article2 p:nth-of-type(3) { display: none; }

    .traveltipbox .topbg p:nth-of-type(1) { font-size: 25px;}
    .traveltipbox .topbg p:nth-of-type(2) { font-size: 40px; font-weight: bold; margin-top: 20px; }
    .traveltipbox .topbg span { display: inline-block; width: 120px; height: 40px; background: #462a81; margin-top: 30px; line-height: 40px; font-size: 16px; border-radius: 20px; }
}

@media screen and (max-width: 400px) {
    .logo h1 { width: 180px; padding-top: 15px; }
    #header .open, #header .close { position: absolute; top: 25px; right: 30px; }
    #header .open i, #header .close i { font-size: 30px; color: #fff; }
    
    .traveltipbox .article3 > h3 { font-size: 20px; text-align: center; font-weight: bold; position: relative; padding-bottom: 15px; }
    .traveltipbox .article3 > h3::after { content: ''; position: absolute; top: 100%; left: 50%; transform: translate(-50%); width: 200px; height: 3px; background: #000;  }
    .traveltipbox .article3 > p { text-align: center; margin-top: 20px; font-size: 16px; margin-bottom: 100px; }

    .traveltipbox .article4 > h3 { font-size: 20px; text-align: center; font-weight: bold; position: relative; padding-bottom: 15px; line-height: 1.5; }
    .traveltipbox .article4 > h3::after { content: ''; position: absolute; top: 100%; left: 50%; transform: translate(-50%); width: 200px; height: 3px; background: #000;  }
    .traveltipbox .article4 > p { text-align: center; margin-top: 20px; font-size: 16px; margin-bottom: 100px; }
    .traveltipbox .article4 li { flex-grow: 1; text-align: center; width: 90%; }
    .traveltipbox .article4 li:nth-child(1), .traveltipbox .article4 li:nth-child(2) { margin-top: 30px; }

}